*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#0f172a;
color:white;
line-height:1.6;
scroll-behavior:smooth;
}



/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#020617;
}

.navbar nav a{
margin-left:25px;
text-decoration:none;
color:#cbd5f5;
}

.navbar nav a:hover{
color:#38bdf8;
}



/* HERO */

.hero{
padding:120px 10%;
}

.hero-container{
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
flex-wrap:wrap;
}

.hero-text{
flex:1;
min-width:300px;
}

.hero-text h1{
font-size:52px;
margin-bottom:10px;
}

.hero-text h3{
color:#94a3b8;
margin-bottom:20px;
}

.hero-text p{
max-width:500px;
margin-bottom:30px;
}

.hero-image{
flex:1;
display:flex;
justify-content:center;
}

.hero-image img{
width:260px;
height:260px;
object-fit:cover;
border-radius:50%;
border:4px solid #3b82f6;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}



/* BUTTONS */

.btn{
background:#3b82f6;
padding:12px 28px;
border-radius:8px;
text-decoration:none;
color:white;
margin-right:10px;
}

.btn-outline{
border:1px solid #3b82f6;
padding:12px 28px;
border-radius:8px;
text-decoration:none;
color:#3b82f6;
margin-right:10px;
}

.btn-small{
background:#3b82f6;
padding:8px 16px;
border-radius:6px;
text-decoration:none;
color:white;
display:inline-block;
margin-top:15px;
}



/* SECTIONS */

.section{
padding:100px 10%;
}

.section h2{
margin-bottom:40px;
}



/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:25px;
}

.skill-card{
background:#1e293b;
padding:25px;
border-radius:12px;
}

.badges span{
display:inline-block;
background:#334155;
padding:6px 12px;
border-radius:20px;
margin:5px;
font-size:13px;
}



/* FEATURED */

.featured-card{
background:#1e293b;
padding:40px;
border-radius:12px;
max-width:700px;
}



/* PROJECTS */

.projects-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}

.project-card{
background:#1e293b;
padding:25px;
border-radius:12px;
transition:all 0.3s ease;
}

.project-card:hover{
transform:translateY(-10px) scale(1.02);
box-shadow:0 20px 40px rgba(0,0,0,0.5);
}



/* CONTACT */

#contact a{
color:#38bdf8;
text-decoration:none;
}



/* FOOTER */

footer{
text-align:center;
padding:40px;
background:#020617;
color:#94a3b8;
}



/* FADE ANIMATION */

.fade-in{
opacity:0;
transform:translateY(20px);
animation:fadeInUp 1s ease forwards;
}

.delay-1{
animation-delay:0.3s;
}

.delay-2{
animation-delay:0.6s;
}

.delay-3{
animation-delay:0.9s;
}

@keyframes fadeInUp{

to{
opacity:1;
transform:translateY(0);
}

}



/* MOBILE */

@media (max-width:900px){

.hero-container{
flex-direction:column;
text-align:center;
}

.hero-image{
margin-top:40px;
}

}
